{% extends './plantilla.html' %}

{% block title %} Contactanos {% endblock %}

{% block body %}
<!-- <h1> Es la sección de contacto </h1> -->

<!--Section: Contact v.2-->
<hr class="featurette-divider">
<section class="mb-2 py-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-3">Contactanos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">¿Todavía tienes dudas?, por favor no dudes en contactarnos. Nuestro equipo atendera tu solicitud lo antes posible</p>

    <div class="row m-4">

        <!--Grid column-->
        <div class="col-md-9 mb-md-4 mb-5">
            <form id="contact-form" name="contact-form" action="/contacto/guardar" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-2">
                            <input type="text" id="txtname" name="name" class="form-control">
                            <label for="name" class="">Tu nombre</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-2">
                            <input type="text" id="txtemail" name="email" class="form-control">
                            <label for="email" class="">Tu email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-2">
                            <input type="text" id="txtsubject" name="subject" class="form-control">
                            <label for="subject" class="">Asunto</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="txtmessage" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Mensaje</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

                <button type="submit" class="btn btn-primary">Enviar</button>
                <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Enviar</a>
                </div>
                <div class="status"></div>
            </form>
            
            <!--<div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Enviar</a>
            </div>-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-2">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Aguascalientes, Ags 00000, Mx</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 000 000 00 00</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<hr class="featurette-divider ">
<!--Section: Contact v.2-->

{% endblock %}