{% extends './plantilla.html' %}

{% block title %} ¿Quienes somos? {% endblock %}

{% block body %}

<!-- <h1> Aquí explicaremos brevemente de que trata nuestra empresa </h1> -->

<hr class="featurette-divider ">
<div class="m-3 row justify-content-center">
    <div class="col-md-7 align-self-sm-center">
      <h2 class="featurette-heading fw-normal lh-3"> Empresa <span class="text-body-secondary"> ... </span></h2>
      <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur molestiae, soluta laudantium voluptatum adipisci placeat consequatur ea similique ut, ab, a fuga! At incidunt in eveniet fugit unde aliquid porro.</p>
    </div>
    <div class="col-md-5 py-5">
      <img src="https://i.postimg.cc/j5rffm4s/empresa.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></img>
    </div>
  </div>
<hr class="featurette-divider ">
<div class="m-3 row justify-content-center">
    <div class="col-md-7 order-md-2 align-self-sm-center">
      <h2 class="featurette-heading fw-normal lh-3">Historia<span class="text-body-secondary">...</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptates aut non ea officiis explicabo atque hic vel fuga at qui, eius consequuntur consequatur repudiandae reiciendis. In debitis assumenda soluta.</p>
    </div>
    <div class="col-md-5 order-md-1 py-5">
      <img src="https://i.postimg.cc/85B6m4ZL/historia.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>


  <div class="card-group">
    <div class="card">
      <img src="https://i.postimg.cc/QCfKRtGt/mision2.jpg" class="card-img-top" width="100" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">Misión</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In facilis quasi repellendus maxime veritatis dolor sunt eum dicta sequi harum voluptas quo, natus explicabo doloremque suscipit ea numquam laudantium vitae?</p>
        
      </div>
    </div>
    <div class="card">
      <img src="https://i.postimg.cc/vmy9gCzG/vision.jpg" class="card-img-top" width="100" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">Visión</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt at quasi cumque unde, voluptatum ducimus? Perspiciatis, debitis saepe excepturi ipsa molestiae, accusantium repudiandae iure ea natus voluptatibus, dignissimos commodi neque!</p>
        
      </div>
    </div>
    <div class="card">
      <img src="https://i.postimg.cc/4yfhLc0q/valores.jpg" class="card-img-top" width="150" height="200" alt="...">
      <div class="card-body">
        <h5 class="card-title">Valores</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error modi, quaerat a reprehenderit deleniti ex accusantium optio deserunt sunt voluptatibus, nemo ipsam harum ratione dolore consequatur voluptas illum mollitia soluta.</p>
        
      </div>
    </div>
  </div>


{% endblock %}